<!DOCTYPE html>
<html>
    

<body style="background-color:burlywood;">
<link rel ="stylesheet" href="style.css">
<div class="topnav">
  <a href="/javascript/coursework/index.html">Home</a>
  <a href="/javascript/coursework/Games.html">Games</a>
  <a class="active" href="/javascript/coursework/login.html">Login</a>
</div>

<div style="padding-left:16px">
</div>
</body>
<center>
<p2 id=msg> Please Enter Your Username</p2>
<br>
<input id=un>
<br>
<p2> Please Enter Your Password</p2>
<br>
<input type="password">
<button onclick=hello()>submit</button>
<script>
function hello(){
    var name =document.getElementById("un").value
    document.getElementById("msg").innerHTML = "hello " + name +"!"
    
}
</script>
</center>
